
<div class="resume-section-content">
    <h2 class="mb-5">İletişim</h2>
    <form method="post">
        <label>Ad soyad</label>
        <input type="text" class="form-control" name="AdSoyad" />
        <label>Mail</label>
        <input type="text" class="form-control" name="Mail" />
        <label>Konu</label>
        <input type="text" class="form-control"name="Konu" />
        <label>Mesaj</label>
        <input type="text" class="form-control" name="Mesaj"/>

        <button class="btn btn-info">Mesaj gönder</button>
    </form>
</div>