
@{
    ViewBag.Title = "AdminEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />


<form method="post" class="form-control">

    <input type="text" name="Baslik" class="form-control" placeholder="Lütfen başlıgı giriniz" />
    <input type="text" name="AltBaslik" class="form-control" placeholder="Alt baslık giriniz" />
    <input type="text" name="Aciklama" class="form-control" placeholder="Açıklama" />
    <input type="text" name="Tarih" class="form-control" placeholder="Lütfen tarih giriniz" />

    <button class="btn btn-danger">Kaydet</button>
</form>

