@using MvcCv.Models.Entity
@model List<TblAdmin>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Admin işlemleri</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Kullanıcı adı</th>
        <th>Düzenle</th>
        <th>Kaldır</th>
    </tr>
    @foreach (var x in Model)
    {
<tr>
    <td>@x.ID</td>
    <td>@x.KullaniciAdi</td>


    <td><a href="/Admin/AdminDuzenle/@x.ID" class=" btn btn-warning">Sil</a></td>
    <td><a href="/Admin/AdminSil/@x.ID" class=" btn btn-warning">Düzenle</a></td>
</tr>
    }
</table>
<a href="/Admin/AdminEkle/" class="btn btn-info">Yeni kullanıcı ekle</a>
