
@{
    ViewBag.Title = "DeneyimEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />

<h3>Yeni kullanıcı ekleme sayfası</h3>
<form method="post" class="form-control">

    <input type="text" name="KullaniciAdi" class="form-control" placeholder="Kullanıcı adı giriniz" />
    <input type="text" name="Sifre" class="form-control" placeholder="Sifre  giriniz" />


    <button class="btn btn-danger">Kaydet</button>
</form>

